{{#if hasData}}
<form id="entity-display" novalidate>
    <label for="name">
        TITLE :                                                 
        <input type="text" name="name" id="name" value="{{title}}" readonly>
    </label>
    <br>
    <label for="description">
        DESCRIPTION :                                                 
        <input type="text" name="description" value="{{description}}" id="description" readonly>
    </label>
</form>
{{/if}}

{{#unless hasData}}
<p id="error">{{error}}</p>
{{/unless}}

{{#if hasData}}
<form action="/api/v1/admin/manage/post/{{objectId}}" method="POST" id="entity-submit" novalidate>
    <label for="id"> 
        POST ID:                                                 
        <input type="text" name="id" id="id" value="{{objectId}}" readonly>
    </label>
    <br>
    <button type="submit">DELETE</button>
</form>
{{/if}}

<a href="/api/v1/admin/manage">BACK TO SYSTEM MANAGEMENT PAGE</a>