<div class="container">
<h4 class="mb-4"><a href="/trainer/get/myPosts"> |-- BACK TO MY POSTS</a></h4>
<hr>

{{#if hasData}}
        <h4>IMAGE :</h4>                                          
        <img src="{{post.img}}" id="imageInput" class="profile-image" alt="IMAGE NOT FOUND">
<form action="/trainer/update/post" method="POST" id="entity-update" novalidate="">
    <br>
    <label for="title">
        POST TITLE :                                                 
        <input type="text" name="title" id="title" value="{{post.title}}">
    </label>
    <br>
    
    <label for="description">
         DESCRIPTION:                                                 
        <input type="text" name="description" value="{{post.description}}" id="description">
    </label>
    <br>
    <label for="id">
        <input name="id" id="id" value="{{post._id}}" readonly="" hidden="">
    </label>
    <br>
    <label for="titleOld">
        <input name="titleOld" id="titleOld" value="{{post.title}}" readonly="" hidden="">
    </label>
    <br>
    <label for="descriptionOld">
        <input name="descriptionOld" id="descriptionOld" value="{{post.description}}" readonly="" hidden="">
    </label>
    <br>
    <label for="imageSrc">                                           
        <input value="{{post.img}}" name="imageSrc" id="imageSrc" readonly="" hidden="">
    </label>
    <button type="submit">UPDATE POST</button>
</form>
{{/if}}


<p id="error">{{error}}</p>

<hr>
</div>
<script src="/public/js/trainer/validatePostUpdate.js"> </script>