<link rel="stylesheet" href="/public/css/trainerMealPlans.css" />

<div class="container">
  <br>
  <div class="text-center mb-5">
    <a href="/trainer/mealplans/create" class="btn btn-primary">Create New Meal
      Plan</a>

  </div>
  <div class="text-center mb-5">

    <h3>Existing Meal Plans</h3>

  </div>

  {{#if deleteErrors}}<div class="alert alert-danger mt-3">
      <ul>
        {{#each errors}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  {{#if errors}}<div class="alert alert-danger mt-3">
      <ul>
        {{#each errors}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{else}}
    {{#if mealplans.length}}
      {{#each mealplans}}
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-column flex-lg-row">
              <span class="avatar avatar-text rounded-3 me-4 mb-2"><i class="icon-food icon-2x"></i></span>
              <div class="row flex-fill">
                <div class="col-sm-5">
                  <h4 class="h5">{{this.title}}</h4>
                  <small>{{this.description}}</small><br>
                  <div>
                    <medium>Assigned To: {{this.assignedTo}}</medium></div>
                </div>
                <div class="col-sm-4 py-2">
                  {{#each this.meals}}
                    <span class="badge bg-secondary">{{this.name}}</span>
                    <br>
                    <small>{{this.description}}</small><br>
                  {{/each}}
                </div>
                <div class="col-sm-3 text-lg-end">
                  <a href="/trainer/mealplans/delete/{{this._id}}" class="btn btn-primary">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}

      <p class="text-center">No active meal plans to display</p>
    {{/if}}
  {{/if}}
</div>

<script src="/public/js/trainer/trainerCreateMealPlan.js"></script>