<div class="container">
  <h1 class="mt-5">Your Profile Page</h1>

  {{#if hasErrors}}
    <div class="alert alert-danger mt-3">
      <ul>
        {{#each errors}}
          <li>{{this}}</li>
        {{/each}}
        {{#if sendToLogin}}
          <a href="/trainer/login"> Go to Log in page</a>
        {{/if}}
      </ul>
    </div>
  {{/if}}

  <form class="needs-validation" novalidate>

    <div class="row g-3">
      <div class="col-md-4">
        <label for="firstName">First Name:</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          value="{{trainer.firstName}}"
          disabled
        />
        <div class="invalid-feedback">First Name must be between 3 to 50
          characters long.</div>
      </div>

      <div class="col-md-4">
        <label for="lastName">Last Name:</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          value="{{trainer.lastName}}"
          disabled
        />
        <div class="invalid-feedback">Last Name must be between 3 to 50
          characters long.</div>
      </div>

      <div class="col-md-4">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          value="{{trainer.email}}"
          disabled
        />
        <div class="invalid-feedback">Please enter valid email</div>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-md-12 mb-3">
        <label for="workoutType">Workout Type:</label>
        <select
          id="workoutType"
          name="workoutType"
          class="form-control"
          multiple
          disabled
        >
  <option value="cardio" {{#if (isSelected "cardio" trainer.workoutType)}}selected{{/if}}>Cardio</option>
    <option value="strength" {{#if (isSelected "strength" trainer.workoutType)}}selected{{/if}}>Strength</option>

  <option value="flexibility" {{#if (isSelected "flexibility" trainer.workoutType)}}selected{{/if}}>Flexibility</option>
  <option value="sports" {{#if (isSelected "sports" trainer.workoutType)}}selected{{/if}}>Sports</option>
  <option value="crossFit" {{#if (isSelected "crossFit" trainer.workoutType)}}selected{{/if}}>CrossFit</option>
  <option value="bodyWeight" {{#if (isSelected "bodyWeight" trainer.workoutType)}}selected{{/if}}>BodyWeight</option>
        </select>
        <div class="invalid-feedback">Please select at least one workout type</div>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-md-3">
        <label for="street">Street:</label>
        <input
          type="text"
          class="form-control"
          id="street"
          name="street"
          value="{{trainer.address.street}}"
          disabled
        />
        <div class="invalid-feedback">Street must be 3 to 50 characters long</div>
      </div>

      <div class="col-md-3">
        <label for="city">City:</label>
        <input
          type="text"
          class="form-control"
          id="city"
          name="city"
          value="{{trainer.address.city}}"
          disabled
        />
        <div class="invalid-feedback">City must be 3 to 50 characters long</div>
      </div>

      <div class="col-md-3">
        <label for="state">State:</label>
        <input
          type="text"
          class="form-control"
          id="state"
          name="state"
          value="{{trainer.address.state}}"
          disabled
        />
        <div class="invalid-feedback">State must be at least 2 characters long</div>
      </div>
      <div class="col-md-3">
        <label for="zip">ZIP Code:</label>
        <input
          type="text"
          class="form-control"
          id="zip"
          name="zip"
          value="{{trainer.address.zip}}"
          disabled
        />
        <div class="invalid-feedback">Please enter valid zip code of 5 digits</div>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-md-4">
        <label for="phone">Phone:</label>
        <input
          type="tel"
          class="form-control"
          id="phone"
          name="phone"
          value="{{trainer.phone}}"
          disabled
        />
        <div class="invalid-feedback">Please enter your phone number</div>
      </div>
    </div>

    <br>
    <a class="btn btn-secondary" href="/trainer/dashboard">Back</a>
    <a class="btn btn-secondary" href="/trainer/profile">Edit</a>
  </form>
</div>

<script src="/public/js/trainer/trainerSignUpClient.js"></script>