<div class="container">
    {{#if hasFollowers}}
        <div class="container">
            {{#each followerUsers}}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{this.userName}}</h5>
                                <p class="card-text">{{this.firstName}} {{this.lastName}}</p>
                                <p>{{this.bio}}</p>
                            </div>
                        </div>
                    </div>
            {{/each}}
            {{#each followerTrainers}}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{this.trainerName}}</h5>
                                <p class="card-text">{{this.firstName}} {{this.lastName}}</p>
                                <p>{{this.bio}}</p>
                            </div>
                        </div>
                    </div>
            {{/each}}
            {{#each followerGyms}}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{this.gymName}}</h5>
                                <p class="card-text">{{this.address.city}}, {{this.address.state}}</p>
                                <p>{{this.bio}}</p>
                            </div>
                        </div>
                    </div>
            {{/each}}
        </div>
    {{/if}}
</div>