<div class="container">
    {{#if hasFollowers}}
        {{#each followingUsers}}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{this.userName}}</h5>
                            <p class="card-text">{{this.firstName}}</p>
                            <a href="/user/trainerProfile/{{this}}/posts" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                </div>
        {{/each}}
        {{#each followingTrainers}}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{this.trainerName}}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content.</p>
                            <a href="/user/trainerProfile/{{this}}/posts" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                </div>
        {{/each}}
        {{#each followingGyms}}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{this.gymName}}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content.</p>
                            <a href="/user/trainerProfile/{{this}}/posts" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                </div>
        {{/each}}
    {{else}}
        <h1>No Followers</h1>
    {{/if}}

</div>