<form class="row g-3" method="post">
    <div class="mx-auto p-2 m-3">
        <img class="profile" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
    </div>
    <h3>Personal Information:</h3>
    <div class="col-md-12">
        <label for="bio" class="form-label">Bio</label>
        <input type="text" class="form-control" id="bio" value={{#if user.bio}} {{user.bio}} {{/if}}>
    </div>
    <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" value={{#if user.firstName}} {{user.firstName}} {{/if}}>
    </div>
    <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" value={{#if user.lastName}} {{user.lastName}} {{/if}}>
    </div>
    <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" value={{#if user.email}} {{user.email}} {{/if}}>
    </div>
    <div class="col-md-1">
        <label for="dialingCode" class="form-label">Dialing Code</label>
        <select id="dialingCode" class="form-select">
            <option selected disabled>+1</option>
        </select>

    </div>
    <div class="col-md-5">
        <label for="phoneNumber" class="form-label">Phone</label>

        <input type="text" class="form-control" id="phoneNumber" value={{#if user.phone}} {{user.phone}} {{/if}}>
    </div>
    <div class="col-md-6">
        <label for="dateOfBirth" class="form-label">Date Of Birth</label>
        <input type="text" class="form-control" id="dateOfBirth" placeholder="MM/DD/YYYY" value={{#if user.dateOfBirth}}
            {{user.dateOfBirth}} {{/if}}>
    </div>

    <div class="col-md-12">
        <fieldset class="row mt-5 mb-5">
            <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="male" value="male">
                    <label class="form-check-label" for="male">
                        Male </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="female" {{#if (eq
                        user.gender "female" )}} checked {{/if}} value="female">
                    <label class="form-check-label" for="female">
                        Female </label>
                </div>
                <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="gridRadios" id="other" value="other" {{#if (eq
                        user.gender "other" )}} checked {{/if}}>
                    <label class="form-check-label" for="other">
                        Other </label>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-3">
        <label for="height" class="form-label">Height</label>
        <input type="text" class="form-control" id="height">
    </div>
    <div class="col-md-3">
        <label for="hUnit" class="form-label">hUnit</label>
        <select id="hUnit" class="form-select">
            <option selected disabled>Choose...</option>
            <option value="ft">Ft</option>
            <option value="m">meters</option>
        </select>

    </div>
    <div class="col-md-3">
        <label for="weight" class="form-label">Weight</label>
        <input type="text" class="form-control" id="weight">
    </div>
    <div class="col-md-3">
        <label for="wUnit" class="form-label">wUnit</label>
        <select id="wUnit" class="form-select">
            <option selected disabled>Choose...</option>
            <option value="lb">lb</option>
            <option value="kg">kg</option>
        </select>

    </div>
    <div class="col-md-6">
        <label for="favoriteWorkout" class="form-label">Favorite Workout</label>
        <select id="favoriteWorkout" class="form-select">
            <option selected disabled>Choose...</option>
            <option value="Cardio">Cardio</option>
            <option value="Strength">Strength</option>
            <option value="Flexibility">Flexibility</option>
            <option value="Sports">Sports</option>
            <option value="CrossFit">CrossFit</option>
            <option value="Body Weight">Body Weight</option>

        </select>
    </div>
    <h3 class="mt-5">Address:</h3>
    <div class="col-12">
        <label for="street" class="form-label">Street</label>
        <input type="text" class="form-control" id="street" placeholder="1234 Main St">
    </div>
    <div class="col-12">
        <label for="apartment" class="form-label">Apartment or Suit</label>
        <input type="text" class="form-control" id="apartment" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city">
    </div>
    <div class="col-md-4">
        <label for="state" class="form-label">State</label>
        <select id="state" class="form-select">
            <option selected disabled>Choose...</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>

        </select>
    </div>
    <div class="col-md-2">
        <label for="zip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="zip">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>