<div class="container mt-4">

    <form class="row g-3" method="post">
        <div class="col-md-6">
            <label for="selectUser" class="form-label">Select User</label>
            <select id="selectUser" class="form-select">
                <option selected disabled>Choose...</option>
                <option value="People">People</option>
                <option value="Trainers">Trainers</option>
                <option value="Gyms">Gyms</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="favoriteWorkout" class="form-label">Favorite Workout</label>
            <select id="favoriteWorkout" class="form-select">
                <option selected disabled>Choose...</option>
                <option value="Cardio">Cardio</option>
                <option value="Strength">Strength</option>
                <option value="Flexibility">Flexibility</option>
                <option value="Sports">Sports</option>
                <option value="CrossFit">CrossFit</option>
                <option value="Body Weight">Body Weight</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="searchType" class="form-label">Search Type</label>
            <select id="searchType" class="form-select">
                <option selected disabled>Choose...</option>
                <option value="Location">Location</option>
                <option value="Names">Names</option>

            </select>
        </div>
    </form>

    <h1>GymMates</h1>

    <div class="row">
        {{#each users}}
            <div class="col-md-4">
                <div class="card user-card">
                    <div class="card-body">
                        <h5 class="card-title">{{this.firstName}} {{this.lastName}}</h5>
                        <p class="card-text">Email: {{this.email}}</p>
                        <p class="card-text">{{#if this.location}}
                                Location: Latitude {{this.location.lat}}, Longitude {{this.location.lng}}
                            {{else}}
                                Location: Not available
                            {{/if}}
                        </p>
                        <p class="card-text">Created At: {{this.createdAt}}</p>
                    </div>
                    <button class="btn btn-primary"><a href="/user/{{this._id}}">View Profile</a></button>
                </div>
            </div>
        {{/each}}
    </div>

</div>