<div class="container">
    {{#if hasFollowers}}
        <div class="container">
            <div class="card mb-3" style="max-width: 540px;">
                {{#each followerUsers}}
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{this.userName}}</h5>
                                <p class="card-text">{{this.firstName}} {{this.lastName}}</p>
                                <p>{{this.bio}}</p>
                            </div>
                        </div>
                {{/each}}
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                {{#each followerTrainers}}
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{this.trainerName}}</h5>
                                <p class="card-text">{{this.firstName}} {{this.lastName}}</p>
                                <p>{{this.bio}}</p>
                            </div>
                        </div>
                {{/each}}
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                {{#each followerGyms}}
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{this.gymName}}</h5>
                                <p class="card-text">{{this.address.city}}, {{this.address.state}}</p>
                                <p>{{this.bio}}</p>
                            </div>
                        </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{#if hasFollowing}}
        <div class="container">
            <div class="card mb-3" style="max-width: 540px;">
                {{#each followingUsers}}
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{this.userName}}</h5>
                                <p class="card-text">{{this.firstName}} {{this.lastName}}</p>
                                <p>{{this.bio}}</p>
                            </div>
                        </div>
                {{/each}}
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                {{#each followingTrainers}}
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{this.trainerName}}</h5>
                                <p class="card-text">{{this.firstName}} {{this.lastName}}</p>
                                <p>{{this.bio}}</p>
                            </div>
                        </div>
                {{/each}}
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                {{#each followingGyms}}
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{this.gymName}}</h5>
                                <p class="card-text">{{this.address.city}}, {{this.address.state}}</p>
                                <p>{{this.bio}}</p>
                            </div>
                        </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

    {{#if hasSessions}}
        {{#each sessions}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Session: {{ this.name }}</h5>
                    <p class="card-text">
                        Place: {{ this.place }}<br>
                        Capacity: {{ this.capacity }}<br>
                        Workout Type: {{ this.workoutType }}<br>
                        Start Date: {{ this.startDate }}<br>
                        End Date: {{ this.endDate }}
                    </p>
                    <p class="card-text">
                        Session Slots:<br>
                        {{#each this.sessionSlots}}
                            {{ this.weekday }}: {{ this.timeSlot }}<br>
                        {{/each}}
                    </p>
                    <div class="btn-group" role="group" aria-label="Session Buttons">
                        <button type="button" class="btn btn-danger remove-btn" data-sessionid="{{this._id}}">Remove</button>
                    </div>
                </div>
            </div>
        {{/each}}
    {{/if}}

    {{#if hasMeals}}
        {{#each mmeals}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Meal: {{ this.title }}</h5>
                    <p class="card-text">
                        Description: {{ this.description }}
                    </p>
                    <p class="card-text">
                        Meals:<br>
                        {{#each this.meals}}
                            {{ this.name }}: {{ this.description }}<br>
                        {{/each}}
                    </p>
                </div>
            </div>
        {{/each}}
    {{/if}}
</div></div></div></div></div></div></div>