<div class="container mt-4">
	{{#if message}}
		<h1>{{message}}</h1>
	{{else}}
		<form class="row g-3 mb-4" action="/gym/dashboard" method="post">

			<div class="col-md-2">
				<label for="searchType" class="form-label">Search Type</label>
				<select id="searchType" name="searchType" class="form-select">
					<option selected="" disabled="">Choose...</option>
					<option value="phone">Phone</option>
					<option value="email">Email</option>
				</select>
			</div>

			<div class="col-md-5">
				<label for="search" class="form-label">Search</label>
				<input type="text" name="search" class="form-control" id="search" placeholder="Search">
			</div>
			<div class="col-md-1 mt-5">
				<button type="submit" class="btn btn-primary">Add Members</button>
			</div>
		</form>
		{{error}}
		{{#each users}}
			<div class="nearby-user">
				<div class="row">
					<div class="col-md-2 col-sm-2">
					</div>
					<div class="col-md-7 col-sm-7">
						<h5><a href="#" class="profile-link">{{this.firstName}}
								{{this.lastName}}</a></h5>
						<p>{{this.email}}</p>
						<p class="text-muted">{{this.phone}}</p>
					</div>
					<div class="col-md-3 col-sm-3">
					</div>
				</div>
			</div>
		{{/each}}
		<div id="formContainer"></div>
	{{/if}}
</div>
<script>
	function addMemberForm() { var formContainer =
	document.getElementById('formContainer'); var form =
	document.createElement('form'); form.setAttribute('class', 'row g-3 mb-4');
	form.setAttribute('action', '/gym/addMembers'); form.setAttribute('method',
	'post'); form.innerHTML = ` <div class="col-md-6"> <label for="inputName"
	class="form-label">Name</label> <input type="text" class="form-control"
	id="name" name="name" placeholder="Enter your name" /> </div> <div
	class="col-md-6"> <label for="inputEmail" class="form-label">Email
	Address</label> <input type="email" class="form-control" id="email"
	name="email" placeholder="Enter your email" /> </div> <div class="col-12">
	<input type="submit" value="Submit" /> </div> `;
	formContainer.appendChild(form); }
</script>